.git
.gitignore
.gitattributes
.github/

Dockerfile*
docker-compose*.yml
docker-compose*.yaml
.dockerignore

.DS_Store
Thumbs.db
Desktop.ini

__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pyo
.venv/
venv/
env/
ENV/

README.md